# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Demonstrate knowledge of creating tables in Jupyter
- Demonstrate knowledge of markdowns, running them, and editing in cases of mistakes
- Demonstrate knowledge of headings, font style and unordered lists

## Author

Mandy Ruszczyk